@{
    ViewData["Title"] = "AddressBook";
}


<p></p>
<div class="well well-lg ">
    <h1>Vítejte v aplikaci AddressBook.</h1>
    <p>
        K prohlížení kontaktů není nutné přohlášení.
        Pro změny kontaktů, mazání a vytváření je nutné provést registraci a být přihlášený.
    </p>
</div>
